.bg { 
  /* The image used */
  background-image: url("./images/background.svg");
  height: 700px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f96843;
}

.login-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;

}
.login-box {
    width: 306px;
    height: 263px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}